/*
TODO:
Organise this better? (optional)
Make margins that fill the shoulders of the page
*/

body {
    background-color : rgb(35, 35, 35);
    font-family: Arial, sans-serif;
    position: relative; /* Required for positioning pseudo-elements */
    min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
}

.left-border {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    border-left: 10vw solid rgb(26, 26, 26);
}

.right-border {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10%;
    border-right: 10vw solid rgb(26, 26, 26);
}

.content {
    margin-left: 12vw; /* Adjust as needed to create space */
    margin-right: 12vw; /* Adjust as needed to create space */
    padding: 20px; /* Add padding inside the content area */
}

@media (max-width: 925px) {
    .left-border, .right-border {
        display: none;
    }
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}


header {
    display: flex;
    justify-content: center;
}

.container {
    width: 940px;
    margin: auto;
}

#line {
    width: 500px;
    margin: auto;
    border-top: 2px white;
}

#banner {
    /* Adjust height and width of banner */
    /*width: 1250px;*/
    height: 325px;
    /*round them corners*/
    border-radius: 20px;
    padding: 0 0;
    box-shadow: .5vh .5vh 2vh .5vh rgba( 0, 0, 0, .5 );
}

#banner img{
    display:block;
    margin:0 auto;
}


h1 {

    color : rgb(255, 255, 255);
    text-align: center;
}

h2 {
    font-size: 15px;
    color : rgb(255, 255, 255);
    text-align: center;
}

p1{
    font-size: 15px;
    color : rgb(255, 255, 255);
    text-align: 500px;
    
}


/*Center Stuff*/
.table-container {
  display: flex;
  justify-content: center;
}



/* elements for connect 4 */
.game-container {
  text-align: center;
}

#game-board {
  background-color: rgb(50, 50, 50);
  box-shadow: .5vh .5vh 2vh .5vh rgba( 0, 0, 0, .5 );
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-gap: 5px;
  margin: 20px, auto;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.cell.red {
  background-color: red;
}

.cell.yellow {
  background-color: yellow;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
